<h1>MY EVENTS</h1>
<% if @events.empty? %>
    No events have been created. Create one HERE!
<% else %>
    <% @events.find_each.with_index do |event, i| %>
        <%= "Event #{i+1}"  %>
        <br />
        <span style="padding-left: 10px;"><%= "LOCATION: #{event.location}, TIME: #{event.time.to_date if event.time }"%></span>
        <br /><br />
    <% end %>
<% end %>
<h1>ATTENDED EVENTS</h1>
<% if current_user.attended_events.empty? %>
    No events have been attended. Attend one HERE!
<% else %>
    <h2>UPCOMING</h2>
    <% current_user.attended_events.where(time: Time.current..).each_with_index do |event, i| %>
    <%= "Event #{i+1}"  %>
        <br />
        <span style="padding-left: 10px;"><%= "LOCATION: #{event.location}, TIME: #{event.time.to_date if event.time }"%></span>
        <br /><br />
    <% end %>
    <h2>PAST EVENTS</h2>
    <% current_user.attended_events.where(time: ...Time.current).each_with_index do |event, i| %>
    <%= "Event #{i+1}"  %>
        <br />
        <span style="padding-left: 10px;"><%= "LOCATION: #{event.location}, TIME: #{event.time.to_date if event.time }"%></span>
        <br /><br />
    <% end %>
<% end %>